<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">QUESTIONNARY</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a (click)="redirectFieldList()">Fields</a></li>
      <li><a (click)="redirectResponsesList()">Responses</a></li>
	  <li *ngIf="userFullName" class="dropdown" >
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{userFullName}}
        <span class="caret"></span></a>
		<ul class="dropdown-menu">
          <li><a (click)="redirectEditProfile()">Edit Profile</a></li>
          <li><a (click)="redirectChangePassword()">Change Password</a></li>
          <li><a (click)="logOut()">Logout</a></li>
        </ul>
	  </li>
	  <li *ngIf="!userFullName"><a (click)="redirectLoginPage()">Login</a></li>
    </ul>
  </div>
</nav>






<router-outlet></router-outlet>
