<div class="row">
    <div class="col-xs-2">
		<section>
			<h2>QUESTIONNARY</h2>
			<h4>Sign Up</h4>
			<form novalidate [formGroup]="userForm" (ngSubmit)="onSubmit()">
				<div class="form-group">
					<input type="text" class="form-control"
						formControlName="email" placeholder="Email">
				</div>
				<div class="form-group">
					<input type="text" class="form-control"
						formControlName="password" placeholder="Password">
				</div>
				<div class="form-group">
					<input type="text" class="form-control"
						formControlName="password2" placeholder="Confirm Password">
				</div>
				<div class="form-group">
					<input type="text" class="form-control"
						formControlName="firstName" placeholder="First Name">
				</div>
				<div class="form-group">
					<input type="text" class="form-control"
						formControlName="LastName" placeholder="Last Name">
				</div>
				<div class="form-group">
					<input type="text" class="form-control"
						formControlName="phone" placeholder="Phone">
				</div>
				<div class="form-group">
					<button type="submit" id="registerButton" class="form-control"  [disabled]="!userForm.valid" >SIGN UP</button>
				</div>
				<div class="form-group">
					<p>Already have account? <a id="loginredir" (click)="redirectLoginPage()">Log In</a></p>
				</div>
			</form>
		</section>
    </div>
</div>