<div class="row">
    <div class="col-xs-2">
		<section>
			<h2>QUESTIONNARY</h2>
			<h4>Sign Up</h4>
			<form novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit()">
				<div class="form-group">
					<input type="text" class="form-control"
						formControlName="email" placeholder="Email">
				</div>
				<div class="form-group">
					<input type="text" class="form-control"
						formControlName="password" placeholder="Password">
				</div>
				<div class="form-group">
					<input type="chexbox" name="rememberMe">Remember me
					&nbsp; &nbsp; <a id="resetRedir" (click)="redirectResetPassword()">Forgot your password?</a>
				</div>
				<div class="form-group">
					<button type="submit" id="registerButton" class="form-control"  [disabled]="!loginForm.valid" >Login</button>
				</div>
				<div class="form-group">
					<p>Don't have account? <a id="registerRedir" (click)="redirectRegisterPage()">Sign Up</a></p>
				</div>
			</form>
		</section>
    </div>
</div>